.buttongroup-flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    width: 150px;
    height: 250px;
    align-self: center;
    flex-wrap: wrap;
    /* margin-right: 5%; */
}

.button-border-color{

    box-shadow: inset 0 0 0 3px chocolate;
    border: 3px solid chocolate;
    border-radius: 2px;
}