.buttongroup-flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    width: 150px;
    height: 250px;
    align-self: center;
    flex-wrap: wrap;
    /* margin-right: 5%; */
}