.plain-cell{
    height: 105px;
    width: 105px;
    border: 1px rgb(200, 214, 218) solid;
 
}
.ROBOT-NORTH{
    background-image: url(../../assets/images/robot_north.png);
    background-size: contain;
    background-position:center;  
    background-repeat: no-repeat;
}

.ROBOT-EAST{
    background-image: url(../../assets/images/robot_east.png);
    background-size: contain;
    background-position:center;  
    background-repeat: no-repeat;

}
.ROBOT-SOUTH{
    background-image: url(../../assets/images/robot_south.png);
    background-size: cover;
    background-position:center;  
    background-repeat: no-repeat;
}

.ROBOT-WEST{
    background-image: url(../../assets/images/robot_west.png);
    background-size: contain;
    background-position:center;  
    background-repeat: no-repeat;
}


.PLACE_WALL{
    background-image: url(../../assets/images/wall.png);
    background-size:120%;
    background-position: center;
    /* transform:rotate(95deg); */
    background-repeat: no-repeat;
}

.cell-coordenates{
    color: white;
    font-family: 'pangolin';
    font-weight:bold ;
    padding-left: 5%;
}