#board{
    height: 525px;
    width: 525px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background: linear-gradient(to bottom right, rgb(107, 198, 255),rgb(255, 114, 138));
    margin-right: 5%;
    /* padding-left: 10%; */
}
