
#root {
  max-width: 1280px;
  width: 100vw;
  margin: 0;
  padding: 2rem;
  display:flex;
  flex-direction: row-reverse;
  /* align-items: flex-end; */
  justify-content: flex-start;
  gap: 25%;
  background-color: rgb(255, 255, 167);
  background-image: url(./assets/images/texture.png);
  background-size: 30%;
  border: 40px solid rgb(255, 217, 1);
  border-radius: 20px;
   box-shadow: inset 0px 0px 12px 6px rgb(255, 143, 143);
 
  
}